/* Any copyright is dedicated to the Public Domain.
 * https://creativecommons.org/publicdomain/zero/1.0/ */

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

#top {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: lightskyblue;
}

#top button {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 0.7rem;
  color: black;
  background-color: steelblue;
  min-width: 6rem;
  border: 0;
  outline: none;
  border-color: transparent;
  border-radius: 2px;
  box-sizing: border-box;
  text-align: center;
  font-size: 1.2rem;
}

#top button:hover {
  cursor: pointer;
  background-color: royalblue;
}

#play {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#code {
  width: 100%;
  min-height: 10rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0;
  padding: 0;
}

#source {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 1rem;
  font-family: monospace;
  background-color: lightgoldenrodyellow;
  border: none;
  outline: none;
  resize: none;
}

#out {
  height: 10rem;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 1rem;
  font-family: monospace;
  background-color: white;
  white-space: pre;
}
