BasedOnStyle: LLVM
ColumnLimit: 0
IndentWidth: 4
AlignConsecutiveDeclarations: true
AllowShortEnumsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AllowShortFunctionsOnASingleLine: false
BreakBeforeBraces: Attach
