.vscode/

build/
objects/
testing/
target/

node_modules
package-lock.json

tags
ctags.opts
ctags.sh

clean.bat
compile.bat
run.bat
tests.bat

.DS_Store
tests

hymn
!hymn/

hymntest
hymnbenchmark

hymn.exe
hymntest.exe

*.obj

profile
gmon.out
luac.out
callgrind.out.*
cachegrind.out.*

test*.hm

test.lua
