.vscode/

build/
objects/
testing/
target/

node_modules
package-lock.json

tags
ctags.opts
ctags.sh

clean.bat
compile.bat
run.bat
tests.bat

.DS_Store
tests

hymn
!hymn/

hymnfmt
hymntest
hymnbenchmark

*.exp
*.lib
*.dll
*.exe

*.o
*.so
*.obj

*.out

profile

callgrind.out.*
cachegrind.out.*

test*.hm
test*.lua
